# Created by .ignore support plugin (hsz.mobi)
.idea
client/.meteor
server/pkg
server/src/server/vendor/github.com
server/src/server/vendor/gopkg.in
server/src/github.com
server/bin
server/.cache
*.bat
server/src/server/server.*
