{{ define "index" }}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Project GII</title>
	<link rel="stylesheet" href="/client/static/css/style.css">
	<!-- <link rel="stylesheet" type="text/css" href="../css/style.css"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="worldDate"></div>

		<div class="main">
			<div class="mainArea">
				<div class="map"></div>
				<div class="map-info"></div>
			</div>
			<div class="persons"></div>
		</div>

		<div class="log"></div>
	</div>
	
	<!-- <script src="../js/data.js"></script> -->
	<script src="/client/static/js/client.js"></script>
	<script src="/client/static/js/socket.js"></script>
</body>
</html>

{{ end }}