<template name="worldMap">
    <div class="map">
        <div class="map-row">
            {{> chunk }}
            {{> chunk }}
            {{> chunk }}
            {{> chunk }}
            {{> chunk }}
        </div>
        <div class="map-row">
            {{> chunk }}
            {{> chunk }}
            {{> chunk }}
            {{> chunk }}
            {{> chunk }}
        </div>
        <div class="map-row">
            {{> chunk }}
            {{> chunk }}
            {{> chunk }}
            {{> chunk }}
            {{> chunk }}
        </div>
        <div class="map-row">
            {{> chunk }}
            {{> chunk }}
            {{> chunk }}
            {{> chunk }}
            {{> chunk }}
        </div>
        <div class="map-row">
            {{> chunk }}
            {{> chunk }}
            {{> chunk }}
            {{> chunk }}
            {{> chunk }}
        </div>
    </div>
</template>

<template name="chunk">
    <div class="chunk"></div>
</template>