body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 3em 0;
    padding: 0;
}

.container {
	max-width: 1200px;
	position: relative;
}

.worldDate {
	padding: 5px;
}

.main {
	height: 80%;
}

.main:after,
.mainArea:after{
	width: 100%;
	clear: both;
	content: "";
	display: table;
}

.mainArea {
	float: left;
}

.persons {
	float: right;
	min-width: 300px;
	max-width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.map{
	float: left;
}

.map-info{
	float: right;
	min-width: 100px;
	min-height: 100px;
}


.log {
	min-height: 300px;
	max-height: 20%;
	overflow-y: auto;
}

.person {
    display: block;
    padding: 10px;
    border: 1px solid dimgray;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.person .name {
	font-weight: bold;
}

.person-charasteristics {
    display: none;
}

.map {
    margin: 3em auto;
    text-align: center;
}

.map-row {
    font-size: 0;
}

.chunk {
    font-size: 16px;
    display: inline-block;
    width: 128px;
    height: 128px;
    border: 0 solid black;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.chunk img {
    position: absolute;
    top: 0;
    left: 0;
}