body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding: 0;
}

.container {
	max-width: 1300px;
	position: relative;
}

.worldDate {
	padding: 5px;
}

.main {
	height: 80%;
}

.main:after,
.mainArea:after{
	width: 100%;
	clear: both;
	content: "";
	display: table;
}

.mainArea {
	float: left;
}

.persons {
	float: right;
	min-width: 300px;
	max-width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.map{
	float: left;
	border: 5px solid gray;
}

.map-info{
	margin-left: 20px;
	float: right;
	min-height: 100px;
	width: 250px;
}


.log {
	min-height: 300px;
	max-height: 20%;
	overflow-y: auto;
}

.person {
    display: block;
    padding: 10px;
    border: 1px solid dimgray;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.person .name {
	font-weight: bold;
}

.person-charasteristics {
    display: none;
}

.map-row {
    font-size: 0;
}

.chunk {
    font-size: 16px;
    display: inline-block;
    width: 128px;
    height: 128px;
    border: 0 solid black;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.chunk img {
    position: absolute;
    top: 0;
    left: 0;
}

.person-icon {
	position: absolute;
	width: 8px;
	height: 8px;
	z-index: 1000;
	background-image: url('../img/resources/person-icon.png');
}

.person-icon:hover {
	position: absolute;
	width: 8px;
	height: 8px;
	z-index: 1000;
	background-image: url('../img/resources/person-icon-hover.png');
}

.person-job-icon {
	position: absolute;
	width: 8px;
	height: 8px;
	z-index: 1000;
	background-image: url('../img/resources/person-job-icon.png');
}

.person-job-icon:hover {
	position: absolute;
	width: 8px;
	height: 8px;
	z-index: 1000;
	background-image: url('../img/resources/person-job-icon-hover.png');
}

.person-icon:hover::after {
    content: attr(data-title);
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 2000;
    background: rgba(255,255,230,0.9);
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 5px 5px;
    border: 1px solid #333;
    border-radius: 3px;
    width: 200px;
}