

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 3em 0;
    padding: 0;
}

.outer {
    margin: 0 auto;
    max-width: 420px;
}

.person {
    display: block;
    padding: 10px;
    border: 1px solid dimgray;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.person-charasteristics {
    display: none;
}

.map {
    margin: 3em auto;
    text-align: center;
}

.map-row {
    font-size: 0;
}

.chunk {
    font-size: 16px;
    display: inline-block;
    width: 128px;
    height: 128px;
    border: 0px solid black;
    margin: 0;
    padding: 0;
}